<% layout("/layouts/boilerplate.ejs") -%>

<div class="col-6 offset-3 mt-4">
    <h1>Log In</h1>
    <form action="/login" method="post" novalidate class="needs-validation">
        <div class="mt-2">   
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mt-2">   
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>      
        <button class="btn btn-success mt-3">Submit</button>
    </form>
</div>