<% layout("/layouts/boilerplate.ejs") -%>

<div class="col-6 offset-3 mt-4">
    <h1>Sign Up for Roundtrip</h1>
    <form action="/signup" method="post" novalidate class="needs-validation">
        <div class="mt-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="invalid-feedback">
                Username Must Required
            </div>
        </div>
        <div class="mt-2">   
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="invalid-feedback">
                Email Must Required
            </div>
        </div>
        <div class="mt-2">   
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>      
            <button class="btn btn-success mt-3">Submit</button>
    </form>
</div>            